.larger {
    margin-left: -120px;
    margin-top: 80px;
}

.outline {
    background-color: white;
    padding: 5px;
    width: 1000px;
    height: 700px;
}

#crd {
    border: 0;
}

body {
    font-family: "Patua One";
    background-image: url(https://images.hdqwalls.com/wallpapers/progamming-code-4k-nt.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}