.larger {
    margin-left: -120px;
    margin-top: 80px;
}

.outline {
    background-color: white;
    padding: 23px;
    width: 900px;
    height: 700px;
    max-width: inherit;
    
}

body {
    font-family: "Patua One";
    background-image: url(/ReactPortfolio/src/Assets/Main_page_background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
