body {
    font-family: "Patua One";
    background-image: url(https://images.hdqwalls.com/wallpapers/progamming-code-4k-nt.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }